#===============================================================================
# @brief    Kconfig file for kernel.
# Copyright (c) HiSilicon (Shanghai) Technologies Co., Ltd. 2024-2024. All rights reserved.
#===============================================================================

config TIOT_DRIVER
    tristate "tiot driver"
    default n
    help
        Support for tiot drivers.